.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin-top: 5%;
}

.avatar {
  border: 0.4rem solid transparent;
  padding: 0.4rem;
  border-radius: 5rem;
  margin: 0.5rem;
  flex-grow: 0;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.avatar img {
  height: 6rem;
  transition: 0.5s ease-in-out;
}
.selected {
  border: 0.4rem solid #9725fa;
}

.submitBtn {
  background-color: #d016fa;
  color: white;
  padding: 1rem 2rem;
  margin: 2rem 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
}
.submitBtn:hover {
  background-color: #6e1083;
}
